server:
  port: ${APPLICATION_PORT}
  servlet:
    context-path: "/todoapp/api"


spring:
  application:
    name: todoapp
  datasource:
    password: ${SPRING_DATASOURCE_PASSWORD}
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: ${IS_FORMAT_SQL}
    show_sql: ${IS_SHOW_SQL}
  output:
    ansi:
      enabled: ALWAYS  


logging:
  level:
    root: INFO
    org.springfamework.web: ERROR
    org.hibernate: ERROR
    com.demo.stepapi: DEBUG

myYamlValue: "Step by Step in YAML"